// Fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,700');

// Variables
@import 'variables';

// Bulma
@import '~bulma/bulma';

body {
    background-color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

.navbar {
    box-shadow: 0 2px 0 0 #f5f5f5;
    .btn-register {
        display: inline-flex;
        background-color: #232629;
        color: #fff;
        border-radius: 3px;
        padding: .25em 1.5em;
        transition: background .2s ease-in-out;
        &:hover {
            background-color: lighten(#232629, 5%);
        }
    }
}

.content blockquote {
    padding: .8em 1em;
}

.sidebar {
    .subtitle:not(:last-child) { margin-bottom: .5rem }
    &__newDiscussion {
        background-color: #f15c41;
        border-radius: 20px;
        color: #fff;
        display: block;
        font-weight: 300;
        margin-bottom: 2.2rem;
        padding: 7px 0;
        text-align: center;
        text-transform: uppercase;
        transition: background .2s ease-in-out;
        &:hover {
            background-color: darken(#f15c41, 5%);
            color: #fff;
            text-decoration: none;
        }
    }
    ul li a {
        color: #69696f;
        display: block;
        padding: 8px 8px 8px 35px;
        position: relative;
        &:hover {
            color: #39393f;
            font-weight: 700;
        }
        .circle {
            &::before {
                background-color: #fff;
                border-radius: 20px;
                content: '';
                width: 10px;
                left: 5px;
                height: 10px;
                position: absolute;
                top: 5px;
            }
            border-radius: 20px;
            float: left;
            height: 20px;
            left: 4px;
            margin-top: -11px;
            top: 50%;
            position: absolute;
            width: 20px;
        }
    }
}

.dot-separator {
    display: inline-block;
    margin: 0 3px;
    &::before {
        content: '•';
        display: block;
    }
}

.singleDiscussion {
    margin-bottom: 20px;
    &__head {
        display: flex;
        align-content: space-between;
        margin-bottom: 20px;
        &__category {
            flex: 1;
            span {
                color: $grey-dark;
                font-size: .8rem;
                padding: 2px 0;
                margin-right: 3px;
            }
            a {
                background-color: lightgray;
                border-radius: 5px;
                display: inline-block;
                font-size: .7rem;
                padding: 2px 8px;
                text-align: center;
            }
        }
        &__date {
            flex: 1;
            text-align: right;
            span {
                font-size: .8rem;
                color: $grey;
            }
        }
    }
    &__title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: .8rem;
    }
    &__content {
        font-size: 1.1rem;
    }
}

.category-viewing {
    background-color: #f5f7ff;
    padding: 10px 20px;
    color: #858d98;
    display: inline-block;
    border-radius: 40px;
    font-size: 12px;
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
    &__circle {
        background-color: #f5f7ff;
        width: 12px;
        height: 12px;
        float: left;
        border-radius: 15px;
        margin-top: 3px;
        margin-right: 5px;
    }
}

ul.discussions {
   .discussion {
       padding: 15px;
       position: relative;
       &:not(:last-child) { border-bottom: 1px solid #f1f0f0 }
       &:first-child { padding-top: 0 }
       &__avatar {
           float: left;
           margin: 5px;
           margin-right: 15px;
           position: absolute;
           left: 0;
           img {
               width: 60px;
               height: 60px;
               border-radius: 50%;
               border: 2px solid #dfefff;
           }
       }
       &__content { margin-left: 70px }
       &__title {
           font-size: 1.2rem;
           font-weight: 700;
       }
       &__excerpt {
           color: $grey;
           font-size: .9rem;
           font-weight: 300;
           margin-top: 5px;
       }
       &__details {
           display: block;
           font-size: .8rem;
           &__category {
               background-color: lightgray;
               border-radius: 5px;
               display: inline-block;
               font-size: .7rem;
               margin-right: 5px;
               padding: 2px 8px;
               text-align: center;
           }
           &__user a { border-bottom: 1px dotted lightgray }
           &__replies i { color: $grey }
       }
   }
}

.repliesBox {
    &__guest {
        background: #e9e9e9;
        border-radius: 3px;
        padding: 15px;
    }
    &__list {
        margin-top: 1rem;
        .avatar {
            border: 2px solid #e3dede;
            border-radius: 50%;
            height: 35px;
            width: 35px;
        }
    }
    &__form {
        padding: 1rem;
        &__format ul {
            list-style-type: disc;
            margin-top: .5rem;
            padding-left: 18px;
            li {
                font-size: .8rem;
            }
        }
    }
}

.widget {
    background-color: white;
    border-radius: 6px;
    border: 2px solid $grey-lighter;
    display: block;
    &__body {
        padding: 1rem;
    }
    &__user {
        display: inline-block;
        padding: .5rem;
        transition: all 250ms;
        vertical-align: middle;
        width: 100%;
        &:hover img {
            border-color: darken(#e3dede, 5%);
        }
        a {
            display: flex;
            height: 45px;
            width: 100%;
            img {
                border: 2px solid #e3dede;
                border-radius: 50%;
                float: left;
                margin-left: 5px;
                margin-right: 15px;
                height: 45px;
                width: 45px;
            }
            .content {
                .username {
                    color: $grey-dark;
                    display: block;
                    font-size: .9rem;
                }
            }
        }
        .details {
            border-top: 1px solid #eaecef;
            color: $grey-light;
            font-size: .8rem;
            padding: 10px 0 0 5px;
            margin-top: 10px;
        }
    }
}
